<app-page>
  <ng-container content>
    <div class="mt-20 flex items-center justify-center">
      <div
        *ngIf="!loading"
        class="max-w-sm rounded-xl overflow-hidden shadow-lg"
      >
        <img [src]="userData.data.avatar" alt="User Avatar" class="w-full" />
        <div class="px-6 py-4">
          <div class="text-gray-700 font-bold text-xl mb-2">
            {{ userData.data.first_name }} {{ userData.data.last_name }}
          </div>
          <p class="text-gray-700 text-base">
            Email: {{ userData.data.email }}
          </p>
        </div>
        <div class="px-6 pt-4 pb-2">
          <span
            class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-medium text-gray-700 mr-2 mb-2"
            >#photography</span
          >
          <span
            class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-medium text-gray-700 mr-2 mb-2"
            >#travel</span
          >
          <span
            class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-medium text-gray-700 mr-2 mb-2"
            >#winter</span
          >
        </div>
      </div>
    </div>
    <div *ngIf="loading" class="h-full flex items-center justify-center my-32">
      <app-spinner></app-spinner>
    </div> </ng-container
></app-page>
