<app-page>
  <ng-container content>
    <div class="container mx-auto">
      <div class="mx-8">
        <input
          type="number"
          [(ngModel)]="searchValue"
          (ngModelChange)="onSearchChange()"
          placeholder="Search about user by his Id..."
          class="my-8 p-4 w-full border-2 border-gray-200 rounded-lg focus:outline-none focus:border-purple-500"
        />
      </div>
    </div>
    <div class="container mx-auto my-4">
      <div *ngIf="!loading" class="flex justify-center">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-12">
          <div
            *ngFor="let user of usersData"
            routerLink="/users/{{ user.id }}"
            class="max-w-sm rounded-xl overflow-hidden shadow-lg"
          >
            <img class="w-full" [src]="user.avatar" alt="User avatar" />
            <div class="px-6 py-4">
              <div class="text-gray-700 font-bold text-xl mb-2">
                {{ user.first_name }} {{ user.last_name }}
              </div>
              <p class="text-gray-700 text-base">{{ user.email }}</p>
            </div>
          </div>
        </div>
      </div>
      <div
        *ngIf="usersData.length === 0"
        class="text-center text-3xl font-bold my-40"
      >
        <p>No users found :(</p>
      </div>
    </div>

    <mat-paginator
      (page)="handlePageEvent($event)"
      [length]="12"
      [pageSize]="per_page"
      [pageSizeOptions]="[5, 10]"
      aria-label="Select page"
    >
    </mat-paginator>

    <div *ngIf="loading" class="h-full flex items-center justify-center my-32">
      <app-spinner></app-spinner>
    </div> </ng-container
></app-page>
